<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CSharp.cc.Properties.manok" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="CSharp.cc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CSharp.cc.Properties.manok" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup/>
	<appSettings>
		<!--<add key="DevID" value="56f20249-62d2-424c-bd57-703592e4054a" />
        <add key="AppID" value="WillWork-4eeb-4a63-bc4d-878f909aaf53" />
        <add key="CertID" value="21e5cb10-8e87-4f71-863d-d11b62d8b644" />-->
		<!-- <add key="ServerUrl" value="https://api.sandbox.ebay.com/ws/api.dll" /> -->
		<!--<add key="ServerUrl" value="https://api.ebay.com/ws/api.dll" />-->
		<!-- For Production set the ServerURL value to https://api.ebay.com/ws/api.dll-->
		<!--<add key="UserToken" value="AgAAAA**AQAAAA**aAAAAA**EfvBSQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wMkoGkD5aLog6dj6x9nY+seQ**LZwAAA**AAMAAA**Z7q9e1uzgT8gfhdvXWYQBHFibAW4Q+gXW474csZvnU2vsr/5Mx1Jlorrg114rrqn/XhZmiuCg7MnnA3TyBBZVI0Bm9EO/XWZu/zmvTZm1HNb49K7ER5Yh4/E4n/4GRD2dZ0Q1tH/ehiKCk4hpVJHOhcszovBxIBTmy+GZvQ6Cxhg7yHWyi26FUe9SIsDzHpDgrICKWjt/EUzrPiyubg9i2tCiUiMrbwP9nzGJD961NCnvgFSNI1/odMZyKymsC+ot+Ed9jG5KbjZQo7Lu/kQ/BVdyCUtPGulJzzDyJ5gQHuaJKTYZK3k+89SZd4313j1zzCsTI45m11LmZcB+ONDdcKJQb/hHYooNQXKN4qRwwrz3wv/hrMjdFSjOqtKYJBET9rWnFW9IeljCDOVr3S3riNMfa39Jo8Uc9fT4NsEObG9mlHC/mXSPRcERDtYbocGmK14fVrIzg6r2Dyn94IFZPiyBd4Maa15iNZ/L66RzAAJa/hd1KWsAUEHh3/j3dVhy5tqAaMuR824AFJZ4WAl1U1CRp/OkWNHtZkHzCfdJcHXv7gPUuAcIvw9s8R1AZ0xZ8+Pb6CKii+LWnkODFJMK8GZWb1G5RuCfRiojkuFzZSuvhlm1UGTBBaQigAhpGLIuI+DC0czzefNid26vwMyL1Z0qHn4i56jQRrNF6Dk8PtBjXKj0T70HdfwxWCbp/DWPBSz7QY1uws8/fxWX90hS3iko87cRJsHubYgsMuBBiVXiOI15a8S4HkZp6enicv4" />-->
	</appSettings>
	<userSettings>
		<CSharp.cc.Properties.manok>
			<setting name="Setting2" serializeAs="String">
				<value>Chicken</value>
			</setting>
		</CSharp.cc.Properties.manok>
		<CSharp.cc.Properties.Settings>
			<setting name="UDID" serializeAs="String">
				<value>5e447dd8e8d53915bdac67bec6fab2a05b552db7</value>
			</setting>
			<setting name="CharName" serializeAs="String">
				<value>acma</value>
			</setting>
			<setting name="ProfileID" serializeAs="String">
				<value>5615719</value>
			</setting>
		</CSharp.cc.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<CSharp.cc.Properties.manok>
			<setting name="Setting1" serializeAs="String">
				<value>Howdy</value>
			</setting>
		</CSharp.cc.Properties.manok>
	</applicationSettings>
</configuration>
